*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lustria', serif;
}

.navbar{
    background-color: rgba(37, 36, 43, 1);
    position: sticky;
    z-index: 99;
    min-height: 80px;
    width: 100%;

    .navbar-brand{
        color: rgb(240, 209, 37);
    }
    .nav-link{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: rgb(240, 209, 37);
        }
    }

    .active{
        color: rgb(240, 209, 37);
    }
}

a:focus {
    outline: none!important;
}

textarea:focus, input:focus{
    outline: none!important;
}

.contact_container{
    height: 100vh;
    background-image: url(../img/images/restaurant_background_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .contact_f_title_container{

        h3{
            padding-top: 6em;
            font-size: 2.5rem;
            letter-spacing: 2px;
            font-weight: 400;
            text-transform: uppercase;
            color: rgb(240, 209, 37);
            text-align: center;
        }
        .underline_container{
            padding: 0 35em;

            .underline{
                width: 100%;
                height: 2px;
                background-color: rgb(240, 209, 37);
                margin: 1em 0;
            }
        }
    }

    .form_container{
        padding: 0 35em;

        form{
            transition: all 4s ease-in-out;

            .input_container{
                

                .form-control{
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid rgb(240, 209, 37);
                    color: #fff;
                    font-size: 1.1rem;
                    margin-bottom: 1em;
                    
                    
                    
                }

                
            }

            .submit_btn{
                background: rgba(240, 210, 37, 0.658);
                color: #fff;
                font-size: 1.3rem;
                font-weight: 600;
                letter-spacing: 2px;
                width: 200px;
                border: none;
                float: right;
                transition: 0.3s all ease;
                cursor: pointer;

                &:hover{
                    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
                    background: rgb(240, 210, 37);
                }
            }
        }
    }
}


@media only screen and (max-width: 1700px) {
    .contact_container{
        .contact_f_title_container{
            .underline_container{
                padding: 0 30em;
            }
        }
    
        .form_container{
            padding: 0 30em;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .contact_container{
        .contact_f_title_container{
            .underline_container{
                padding: 0 20em;
            }
        }
    
        .form_container{
            padding: 0 20em;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .contact_container{
        .contact_f_title_container{
            .underline_container{
                padding: 0 15em;
            }
        }
    
        .form_container{
            padding: 0 15em;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .contact_container{
        .contact_f_title_container{
            .underline_container{
                padding: 0 10em;
            }
        }
    
        .form_container{
            padding: 0 10em;
        }
    }
}

@media only screen and (max-width: 800px) {
    .contact_container{
        .contact_f_title_container{
            .underline_container{
                padding: 0 5em;
            }
        }
    
        .form_container{
            padding: 0 5em;
        }
    }
}


@media only screen and (max-width: 800px) {
    .contact_container{
        .contact_f_title_container{
            .underline_container{
                padding: 0 2em;
            }
        }
    
        .form_container{
            padding: 0 2em;
        }
    }
}