/*
colors: rgba(37, 36, 43, 1) blue-grey

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lustria', serif;
}

.navbar{
    background-color: rgba(37, 36, 43, 1);
    position: sticky;
    position: absolute;
    z-index: 99;
    min-height: 80px;
    width: 100%;

    .navbar-brand{
        color: rgb(240, 209, 37);
    }
    .nav-link{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: rgb(240, 209, 37);
        }
    }

    .active{
        color: rgb(240, 209, 37);
    }
}

.header_container{
    height: 100vh;

    #slide1{
        background-image: url(../img/images/restaurant_background_1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

    }

    #slide2{
        background-image: url(../img/images/restaurant_background_2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

    }

    #slide3{
        background-image: url(../img/images/restaurant_background_3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

    }
}

.carousel-item{
    padding: 0 30em;
    
}

.header_content_container{

    background-color: rgba(37, 36, 43, 0.719);
    color: #fff;
    height: 100%;
    width: 100%;
    position: relative;

    .container_inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .container{
        max-width: 960px;
        margin: auto;
        overflow: hidden;
        padding: 0 5em;

        h1{
            font-size: 3.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: rgb(240, 209, 37);
        }
        
        p{
            font-size: 1.3rem;
            margin-top: 3em;
        }
        a{
            margin-top: 2em;
            font-size: 1.4rem;
            background-color: rgb(45, 42, 66);
            color: rgba(255, 255, 255, 1);
            padding: 0.5em 1em;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s;
            min-width: 150px;

            &:hover{
                color: rgb(45, 42, 66);
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
}

@media only screen and (max-height: 750px) {
    .carousel-item{
        padding: 8em 1em;
        
    }
  }

@media only screen and (max-width: 1700px) {
    .carousel-item{
        padding: 0 20em;
        
    }
  }


@media only screen and (max-width: 1500px) {
    .carousel-item{
        padding: 0 1em;
        
    }
  }

  @media only screen and (max-width: 900px) {
    .header_content_container{
        .container{

            h1{
                font-size: 3rem;
                margin-top: 60%;
            }
        }
    }
  }


  @media only screen and (max-width: 700px) {
    .header_content_container{
        .container{

            h1{
                font-size: 3rem;
                margin-top: 70%;
            }
        }
    }
  }