.navbar{
    background-color: rgba(37, 36, 43, 1);
    position: sticky;
    z-index: 99;
    min-height: 80px;
    width: 100%;

    .navbar-brand{
        color: rgb(240, 209, 37);
    }
    .nav-link{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: rgb(240, 209, 37);
        }
    }
}

header{
    display: block;
}
.row{
    padding: 0;
    margin: 0;
}

.about_header{
    height: 484px;
    display: block;
    
    .col-md-6{
        padding: 0;
        margin: 0;
    }

    .header_about_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;

        h1{
            color: rgb(240, 209, 37);
            font-size: 3rem;
            letter-spacing: 3px;
        }
    }

    .head_1{
        display: block;
        background-image: url(../img/images/head_about_1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 484px;
    }
    .head_2{
        display: block;
        background-image: url(../img/images/head_about_2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 484px;

    }

    .header_content_1{
        height: 100%;
        width: 100%;
        background-color: rgba(37, 36, 43, 0.616);
        transition: 0.4s;
        &:hover{
            background-color: rgba(37, 36, 43, 0.267);
        }
    }

    

    .header_content_2{
        height: 100%;
        width: 100%;
        background-color: rgba(37, 36, 43, 0.616);
        transition: 0.4s;
        &:hover{
            background-color: rgba(37, 36, 43, 0.267);
        }
    }
}

body{
    z-index: -1;
}

.row{
    padding: 0;
    margin: 0;
    .col-md-12{
        padding: 0;
        margin: 0;
    }
}

.first{
    background-color: rgba(37, 36, 43, 0.514);
}


.main_menu_container{
    position: relative;
    background: url(../img/images/menu_back.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;

        .menu_overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(31, 26, 56, 0.705);
            z-index: 0;
        }

        .menu_title_container{
            text-align: center;
            font-weight: 500;
            font-size: 3rem;

            .title{
                margin: 1em 0;
            }
            .underline_container{
                padding: 0 30%;
                margin-bottom: 1em;

                .underline{
                    width: 100%;
                    height: 2px;
                    background-color: rgb(240, 209, 37);
                }
            }
        }

        .products_container{
            z-index: 3;
            color: white;
            padding: 0 18em;
        }
        .menu_title_container{
            color: rgb(240, 209, 37);;           
        }
        .img_container{
            width: 100%;
            img{
                width: 100%;
                max-height: 500px;
            }
        }

        .product_container{
            margin-bottom: 1em;
        }

        .description_container{
            padding: 1em;
            background-color: rgba(31, 26, 56, 0.705);
            min-height: 300px;

            h4{
                color: rgb(240, 209, 37);
                font-size: 1.3rem;
                margin-top: 0.5em;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .price{
                color: rgb(240, 209, 37);
                font-weight: 600; 
            }
        }
}



@media only screen and (max-width: 1500px) {
    
    .main_menu_container{
        .products_container{
            padding: 0 15em;
        }
    }
}

@media only screen and (max-width: 1300px) {
    
    .main_menu_container{
        .products_container{
            padding: 0 10em;
        }
    }
}

@media only screen and (max-width: 1200px) {
    
    .main_menu_container{
        .products_container{
            padding: 0 6em;
        }
    }
}

@media only screen and (max-width: 1000px) {
    
    .main_menu_container{
        .products_container{
            padding: 0 4em;
        }
    }
}

@media only screen and (max-width: 900px) {
    
    .main_menu_container{
        .products_container{
            padding: 0 1em;
        }
    }
}

@media only screen and (max-width: 768px) {
    header{
        margin-bottom: 30em;
    }
    .main_menu_container{
        .products_container{
            padding: 0 3em;
        }

        .description_container{
            padding: 2.5em;
            min-height: 300px;
        }
    }
}

@media only screen and (max-width: 500px) {
    
    .main_menu_container{
        .products_container{
            padding: 0 1em;
        }

        .description_container{
            padding: 2em;
            min-height: 300px;
        }
    }
}